<div class="container">
    <h1 class="title">Lista de Tareas</h1>
    
    <section class="create">
        <form (submit)="addTask()" class="formCreate">
        <input [(ngModel)]="newTask.title" name="title" placeholder="Título" required />
        <input [(ngModel)]="newTask.description" name="description" placeholder="Descripción" />
        <button type="submit">Añadir Tarea</button>
        </form>
    </section>
  
    <section class="read">
        <h2>Tareas actuales</h2>
        <ul>
        <li *ngFor="let task of tasks" >
          <input type="checkbox" [checked]="task.completed" (change)="toggleCompleted(task)" />
          <span [class.completed]="task.completed" class="text" (click)="onSelect(task)">{{ task.title }}</span>
            <button (click)="deleteTask(task.id)" class="btn btn-danger" style="margin-right:0.5rem">Eliminar</button>
            <button (click)="openEditModal(task)" class="btn btn-primary">Editar</button>

        </li>
        </ul>
    </section>

    <section class="details">
        <div *ngIf="selectedTask">
            <h2>Task Details</h2>
            <p><strong>Title:</strong> {{ selectedTask.title }}</p>
            <p><strong>Description:</strong> {{ selectedTask.description }}</p>
            <p><strong>Status:</strong> {{ getTaskStatus(selectedTask) }}</p>
          </div>
    </section>
</div>
  

<!-- Modal de Edición -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Editar Tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="editTitle" class="form-label">Título</label>
              <input type="text" [(ngModel)]="editTask.title" name="editTitle" class="form-control" id="editTitle">
            </div>
            <div class="mb-3">
              <label for="editDescription" class="form-label">Descripción</label>
              <input type="text" [(ngModel)]="editTask.description" name="editDescription" class="form-control" id="editDescription">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges()" data-bs-dismiss="modal">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
  